/* grid */
section{
    /* despliégate como  grid */
    display: grid;
    /* crea 12 columnas cada una de una fracción usando la función repeat*/
    grid-template-columns: repeat(12, 1fr);
    /* deja que las filas(renglones) ocupen el alto que necesitan */
    grid-auto-rows: auto;
    /* añade un espacio entre los elementos del grid de 3rem */
    gap: 3rem;
}
/* termins grid */

section>header{
    grid-column: span 12;
}

section>main{
    grid-column: span 8;
}

section>aside{
    grid-column: span 4;
}

section>footer{
    grid-column: span 12;
}

body{
    background: rgb(0, 0, 0)
}

article{
    background-color:rgb(238, 208, 125);
    border-bottom: 1px solid white;
    padding: 1.5rem;
}

nav>ul>li {
    background-color:rgb(104, 21, 10);
    list-style: none;
    text-decoration: none;
}

#titulo_del_blog{
    text-align: center;
    font-size: 3rem;
    color:rgb(104, 21, 10)
}

figure{
    border: 4px solid white;
    display: inline;
}

aside{
    color: white;
}

#footer_blog{
    background-color: rgb(4, 80, 67);
    margin: 2rem;
}