body{
    background: #000;
}

article{
 background-color: rgb(88, 77, 77);
 border-bottom: 1px solid;
 border-color: white;
}

nav>ul>li {
    background-color: rgb(255, 187, 0);

}

aside {
    background-color: darkgoldenrod;
}

figure {
    border: 4px solid white;
}